
$danger : #f60303;
$grey: #7e7e7e;
$success: #6db16d;

.App {
  //text-align: center;
  min-height: 100vh;
  max-width: 100%;
}

.btn{
  width: 4rem;
  text-align: center;
  border-radius: 5px;
  margin: 16px;
  background-color: #999999;
  text-decoration: none;
  padding: 10px;
  text-transform: capitalize;
}
.page{
  height: 99vh;
  padding: 0.5rem 1rem;
  .back-btn{
    position: absolute;
    bottom: 2px;
    padding: 16px;
    width: 4rem;
    text-align: center;
    border-radius: 12px;
    margin: 16px;
    background-color: #999999;
    text-decoration: none;
  }
}

.App-logo {
  //height: 40vmin;
  //pointer-events: none;/
}

.navBar{
  position: relative;
  padding: 3rem 1rem;
}
.title{
  font-weight: 500;
  font-size: 21px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #999999;
}
.text-capitalize{
  text-transform: capitalize;
}
.searchInput{
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  height: 35px;
  padding-left: 16px;
}

.searchInput:focus{
  border:none;
  outline: none;
}

.tests-count{
  position: absolute;
  right: 3%;
  line-height: 3;
  color: $grey;
  font-size: 12px;
}

.stopped, .paused{
  color: $danger;
}
.draft{
  color: $grey;
}
.online{
  color: $success;
}
.results{
  color: #EBEBEB;
  background: $success;
}

.finalize{
  color: #EBEBEB;
  background-color: $grey;
}
table{
  //border-collapse: collapse;
  width: 100%;
  //margin: 12px;
  thead{
    text-align: justify;
    padding: 12px;
    border: 1px solid #dddddd;
    tr{
      background-color: transparent;
    }
    th{
      padding: 12px;

    }
  }
}
tr{
  height: 70px;
  left: 48px;
  top: 221px;
  background: #FFFFFF;
  border-radius: 3px;
}
td{

  padding: 12px;
}

tbody{
  tr{
    //border: 1px solid #dddddd;
    border-left: 1px solid red;

  }
  //tr:before{
  //  content: '';
  //  width: 12px;
  //  max-width: 12px;
  //  background-color: #61dafb;
  //  display: block;
  //  position: relative;
  //  height: inherit;
  //}
  tr:hover{
    box-shadow: 0px 1px 8px 1px #b7b7b7;
  }
}



.App-header {
  color: white;
  h3{
    padding-top: 0;
  }
}

.App-link {
  color: #61dafb;
}

